.textoasibienaca{
color: #34d346; font-family: monospace;
}
body{
background-color: black;

}
.segundotexto{
    color: #34d346; font-family: monospace;
}
.tercertexto{
    color: #34d346; font-family: monospace;
}
.cuartotexto{
    color: #34d346; font-family: monospace;
}
.quintotexto{
    color: #34d346; font-family: monospace;
}
.sextotexto{
    color: #34d346; font-family: monospace;
}
.cuentagithub{
    color: #34d346; font-family: monospace; background-color: black;
}
.imagenprrona{
    border-radius: 0 40px 0 40px;
    height: 200px; width: 200px;
}
p {
    color: #34d346; font-family: monospace;
}